mule-app-cicd/src/main/resources/mock.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mio="http://demo3729458.mockable.io/service/1"
                  targetNamespace="http://demo3729458.mockable.io/service/1">

    <wsdl:documentation>
        mockable.io generated WSDL
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://demo3729458.mockable.io/service/1">
            
            <xsd:element name="getDataRequest" type="xsd:anyType"/>
            <xsd:element name="getDataResponse" type="xsd:anyType"/>
            
        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name="getDataInputMessage">
        <wsdl:part name="getDataInputPart" element="mio:getDataRequest"/>
    </wsdl:message>
    <wsdl:message name="getDataOutputMessage">
        <wsdl:part name="getDataOutputPart" element="mio:getDataResponse"/>
    </wsdl:message>
    

    <wsdl:portType name="PortType">
        
        <wsdl:operation name="getData">
            <wsdl:input name="getDataInput"
                        message="mio:getDataInputMessage"/>
            <wsdl:output name="getDataOutput"
                         message="mio:getDataOutputMessage"/>
        </wsdl:operation>
        
    </wsdl:portType>

    <wsdl:binding name="Binding" type="mio:PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="getData">
            <soap:operation
                    soapAction="getData"/>
            <wsdl:input name="getDataInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getDataOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="Service">
        <wsdl:port name="Port" binding="mio:Binding">
            <soap:address
                    location="http://demo3729458.mockable.io/"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>